

// Global default params, used in configs
includeConfig 'conf/params.config'

// Process configuration
process {

    // Lin-cluster query sequences
    withName: 'precluster'{
        cpus = 8
    }

    // Global search (queries vs SH database)
    withName: 'mmseqs_search'{
        cpus = 8
    }

    // Cluster membership preparation
    withName: 'prepare_cluster_keys'{
        cpus = 8
    }

    // Prepare FASTA files for each (compound) cluster
    withName: 'cluster_extract'{
        cpus = 8
    }

    // Generate a distance matrix
    withName: 'calc_distmx'{
        cpus = 2
    }

    // Agglomerative clustering of a distance matrix
    withName: 'cluster_aggd'{
        cpus = 2
    }
}
