/*
Default values for the pipeline parameters
*/

params {

  // Input data and databases
  input      = "input.fasta"
  ref_db_dir = "ref_db"
  shdata     = "sh_matching/data"

  // Pre-clustering parameters
  preclust_id   = 0.9
  preclust_cov  = 0.7
  preclust_kmer = 80

  // Search parameters (for SH database matching)
  search_id   = 0.9    // --min-seq-id
  search_cov  = 0.7    // -c
  sensitivity = 6      // -s
  // for iterative search (starting at lower sensitivity until the target sensitivity is reached)
  sens_start  = 1      // --start-sens  -- can be null -> fixed sensitivity will be used
  sens_step   = 2      // --sens-steps  -- can be null
  exact_kmer  = false  // --exact-kmer-matching
  max_accept  = 30     // --max-accept

}

