/*
Default values for the pipeline parameters
*/

params {

  // Input data and databases
  input      = "input.fasta"
  ref_db_dir = "ref_db"
  shdata     = "sh_matching/data"

  // Pre-clustering parameters
  preclust_id        = 0.9
  preclust_cov       = 0.7
  preclust_kmers     = 80
  preclust_kmerscale = 0.3  // --kmer-per-seq-scale

  // Search parameters (for SH database matching)
  search_id   = 0.9         // --min-seq-id
  search_cov  = 0.7         // -c
  cov_mode    = 5           // --cov-mode
  max_seqs    = 10000       // --max-seqs     // for pre-filtering step
  max_accept  = 2147483647  // --max-accept   // Maximum accepted alignments before alignment calculation for a query is stopped
  sensitivity = 6           // -s
  // for iterative search (starting at lower sensitivity until the target sensitivity is reached)
  sens_start  = 1           // --start-sens  -- can be null -> fixed sensitivity will be used
  sens_step   = 2           // --sens-steps  -- can be null
  exact_kmer  = false       // --exact-kmer-matching
  kmer_length = 15          // -k
  spaced_kmer = 0           // --spaced-kmer-mode    // NB! database index must be created with this option!

}

